<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="nbsbattleinst2outlook.onmicrosoft.com" />
    <add key="ida:TeamAppId" value="0bac27b2-e037-451b-bebb-d760fa45f5f9" />
    <add key="ida:TeamAppSecret" value="b21e920c-9e37-4fdb-ab08-b59b20ea5c81" />
    <add key="ida:RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />

    
    <add key="todo:GameAPIAppId" value="67585816-99ee-4f2d-b06e-8516359a901e" />
    <add key="todo:GameAPIBaseAddress" value="http://51.136.81.22" />
  </appSettings>
</configuration>